<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.1/luxon.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <!-- parte sinistra app -->
        <div id="container-preview">
            <!-- profilo -->
            <div id="user-header">
                <div id="user">
                    <img class="avatar" src="imgs/avatar_io.jpg" alt="">
                    Sofia
                </div>
                <div class="settings">
                    <i class="fa-solid fa-circle-notch"></i> &nbsp; &nbsp;
                    <i class="fa-solid fa-message"></i> &nbsp; &nbsp;
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- cta ad attivare le notifiche -->
            <div id="notification-cta">
                <div id="note-bell">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div id="note-txt">
                    Ricevi notifiche di nuovi messaggi <br>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- filtro ricerca contatti -->
            <div id="search">
                <label for="search-bar"><i class="fa-solid fa-magnifying-glass"></i></label>
                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="chatFilter">
            </div>
            <!-- preview delle chat e selezione chat -->
            <div id="chat-preview-container">
                <div v-for="(contact, index) in contacts">
                    <div class="chat-preview" @click="changeChat(index)" v-if="contact.visible">
                        <img :src="'imgs/avatar' + contact.avatar + '.jpg'" class="avatar" alt="">
                        <div class="chat-info">
                            {{contact.name}} <br>
                            <span v-if="contact.messages.length > 0" class="last-msg">{{contact.messages[contact.messages.length - 1].message}}</span>
                        </div>
                        <div v-if="contact.messages.length > 0" class="date">{{contact.messages[contact.messages.length - 1].date}}</div>
                    </div>
                </div>                
            </div>
        </div>
        <!-- parte destra dell'app -->
        <div id="container-chat">
            <header>
                <!-- informazioni del contatto -->
                <div id="chatter">
                    <img class="avatar" :src="'imgs/avatar' + contacts[activeChat].avatar + '.jpg'" alt="">
                    {{contacts[activeChat].name}}
                </div>
                <div class="settings">
                    <i class="fa-solid fa-magnifying-glass"></i> &nbsp; &nbsp;
                    <i class="fa-solid fa-paperclip"></i> &nbsp; &nbsp;
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </header>
            <!-- chat -->
            <div id="chat">
                <div v-for="(message, index) in contacts[activeChat].messages" :class="message.status === 'sent' ? 'msg-sent' : 'msg-recieved'">
                    <p>{{message.message}}</p>
                    <div class="msg-time">{{message.date}}</div>
                    <div class="delate-show" @click="showDelMenu(index + 1)"><i class="fa-solid fa-angle-down"></i></div>
                    <ul class="delate-menu">
                        <li @click="delMsg(index)">Cancella messaggio</li>
                    </ul>
                </div>
            </div>
            <!-- barra scrittura messaggio -->
            <div id="write-bar">
                <div id="emojy"><i class="fa-solid fa-face-smile"></i></div>
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @KeyUp.enter="sendMessage">
                <div id="vocal"><i class="fa-solid fa-microphone"></i></div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>